<h1>Welcome to Our Office!</h1>
 <%= link_to('Users', users_path) %>
<h3>People Coming to Office today :-</h3>

<ul>
  <% @attending_office.each do |attendance| %>
    <li><%= attendance.user.display_name %> at <%= attendance.arriving_time.strftime("%I:%M %p") %> </li>
  <% end %>
</ul>
<br/>

<h3>People Having Lunch in Office :-</h3>

<ul>
  <% @lunch_in_office.each do |user| %>
    <li><%= user.display_name %></li>
  <% end %>
</ul>